<div class='chat-message {{#if isMyMessage}}chat-message_my-message{{/if}} {{#if isBig}}chat-message_big{{/if}}'>

  <p class='chat-message__text'>{{text}}</p>


  <span class='chat-message__date'>
    {{#if isMyMessage}}
      <img src='../../../assets/images/check-mark.svg' alt='Check mark'>
    {{/if}}

    {{dateMessage}}
  </span>
</div>