{{!< base}}

<div class='user-details-page page'>
    <div class='user-details-page__sidebar'>
        {{> 'sidebar-back/sidebar-back' }}
    </div>

    <div class='user-details-page__main'>
        {{> 'user-info/user-info' }}
    </div>
</div>