<div class="chat-list">
  <div class='chat-list__header'>

  </div>

  <div class='chat-list__list'>
    {{> 'chat-item/chat-item' title="Ivan" text="This is a text" isYoy=true}}
    {{> 'chat-item/chat-item' title="Kolia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item'
      title="Galia"
      text="This is a text bla bla bla. This is a text bla bla bla. This is a text bla bla bla. This is a text bla bla bla."
      isYoy=true}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item'
      title="Galia"
      text="This is a text bla bla bla. This is a text bla bla bla. This is a text bla bla bla. This is a text bla bla bla."
      isYoy=true}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=true}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=true}}
    {{> 'chat-item/chat-item'
      title="Galia"
      text="This is a text bla bla bla. This is a text bla bla bla. This is a text bla bla bla. This is a text bla bla bla."
      isYoy=true}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=true}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
    {{> 'chat-item/chat-item' title="Galia" text="This is a text" isYoy=false}}
  </div>
</div>