@import "./base.css";
/*Pages*/
/*...*/

/*Partials*/
@import "../partials/login-form/login-form.css";
@import "../partials/registration-form/registration-form.css";

@import "../partials/chat-box/chat-box.css";
@import "../partials/chat-list/chat-list.css";
@import "../partials/chat-details/chat-details.css";
@import "../partials/chat-item/chat-item.css";

@import "../partials/user-avatar/user-avatar.css";

body {
    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1E1E1E;
    display: flex;

    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

a {
    color: #3369F3;
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: left;
}

.form__input label {
    font-size: 9px;
    line-height: 9px;
    color: #999999;
    margin-bottom: 1px;
}

.form__input input {
    height: 28px;
    border: 0;
    border-bottom: 1px solid #3369F3;
    outline: 0;
}

.form .button {
    cursor: pointer;
    background: #3369F3;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    outline: 0;
    padding: 12px;
}