<div class='registration-form'>
  <h1 class="registration-form__title">Регистрация</h1>

  <form action="#" class="registration-form__form form">
    <div class="form__input">
      <label for="RegistrationFirstName">Имя</label>
      <input id="RegistrationFirstName" type="text" name='first_name' placeholder="">
    </div>

    <div class="form__input">
      <label for="RegistrationSecondName">Фамилия</label>
      <input id="RegistrationSecondName" type="text" name='second_name' placeholder="">
    </div>

    <div class="form__input">
      <label for="RegistrationLogin">Логин</label>
      <input id="RegistrationLogin" type="text" name='login' placeholder="">
    </div>

    <div class="form__input">
      <label for="RegistrationEmail">Email</label>
      <input id="RegistrationEmail" type="email" name='email' placeholder="">
    </div>

    <div class="form__input">
      <label for="RegistrationEmail">Телефон</label>
      <input id="RegistrationEmail" type="tel" name='phone' placeholder="">
    </div>

    <div class="form__input">
      <label for="RegistrationPassword">Пароль</label>
      <input id="RegistrationPassword" type="password" name='password' placeholder="">
    </div>

    <div class="form__input">
      <label for="RegistrationPasswordConfirm">Пароль (ещё раз)</label>
      <input id="RegistrationPasswordConfirm" type="password" name='password-confirm' placeholder="">
    </div>

    <button class="button">Войти</button>
    <a href="../../pages/auth/auth.hbs">Ещё не зарегистрированы?</a>
  </form>
</div>