<div class='user-change-pass'>

  {{> 'user-info-head/user-info-head' isShowName=false}}

  <div class='user-change-pass__list user-page__list'>
    <form action='#'>
      <ul>
        <li>
          <span>Старый пароль</span>
          <input type='password' name='oldPassword'>
        </li>

        <li>
          <span>Новый пароль</span>
          <input type='password' name='newPassword'>
        </li>

        <li>
          <span>Повторите новый пароль</span>
          <input type='password' name='newPasswordConf'>
        </li>
      </ul>

      <button class='button user-change-pass__save'>Сохранить</button>
    </form>
  </div>

</div>